@import "./utils/variables";
@import "./utils/normalise";
@import "./utils/reset";
@import "./utils/visually-hidden";
@import "./utils/mixin";

@import "./common/fonts";
@import "./common/container";
@import "./common/section";

@import "./components/logo";
@import "./components/btn";
@import "./components/general_header";
@import "./components/header";
@import "./components/socials";
@import "./components/footer";
@import "./components/modal";
@import "./components/address";

@import "./layouts/hero";
@import "./layouts/what-do-we-do";
@import "./layouts/preferences";
@import "./layouts/out-team";
@import "./layouts/our-clients";

@import "./layouts/filter-btn";
@import "./layouts/gallery";
