/* ========================our-team====================== */
.our-team {
  background-color: var(--bgc-color-secondary);
  padding-top: 94px;

  &__list {
    display: flex;
  }
  &__item {
    background-color: var(--text-color-alt);
    max-width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-info {
  padding: 30px 32px;

  &__name {
    color: var(--text-color-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
