/* ========================HEADER====================== */

/* щоб не робити ще один div зробив флексом цей контейнер, щоб вирівняти по висоті весь вміст футера */
.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--text-color-alt);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: var(--text-color-main);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    &:hover,
    &:focus {
      color: var(--text-colot-accent);
      cursor: pointer;
    }
  }
}

// хотів би вкласти в .navigation, але сказали макс 2 вкладеності =(
.navigation__link--current-page {
  color: var(--text-colot-accent);
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -34px;

    width: 100%;
    height: 4px;
    background-color: var(--btn-color-social-focus);
    border-radius: 2px;
  }
}

.navigation,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: var(--text-color-secondary);

    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    &:hover,
    &:focus {
      color: var(--text-colot-accent);
      cursor: pointer;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
