:root {
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --text-colot-accent: #2196f3;
  --text-color-alt: #fff;
  --logo-color: #000;
  --bgc-color-main: #e5e5e5;
  --bgc-color-secondary: #f5f4fa;
  --btn-color-focus: #188ce8;
  --btn-color-social-focus: #2196f3;
  --text-color-footer: #2f303a;
  --icon-fill: #afb1b8;
  --icon-company-fill: #afb1b8;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
}