/* ======================== fiter buttons ====================== */
.filter-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }

  @include desktop {
    margin-bottom: 50px;
  }

  &__btn {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    color: var(--text-color-main);
    background-color: var(--bgc-color-secondary);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition-property: box-shadow, color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: var(--text-color-alt);
      background-color: var(--text-colot-accent);
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
