/* ======================== Gallery ====================== */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    width: 100%;
    max-width: 480px;
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__text {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__name {
    margin-bottom: 4px;

    color: var(--text-color-main);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__filter {
    color: var(--text-color-secondary);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }

  &__overlay {
    padding: 77px 24px;

    @include tablet {
      padding: 49px 24px;
    }

    @include desktop {
      padding: 63px 24px;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translate(0%, 101%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    @media screen and (max-width: 370px) {
      padding: 43px 24px;

      font-size: 15px;
    }

    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--text-color-alt);

    .gallery-grid__link:hover &,
    .gallery-grid__link:focus & {
      transform: translate(0%, 0%);
    }
  }

  &__img-box {
    position: relative;
    overflow: hidden;
  }
}

.gallery-grid__item:first-child .gallery-grid__text {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 146px;
  }
}
