/* ========================HERO====================== */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  @include tablet {
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/bgr-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    max-width: 360px;

    color: var(--text-color-alt);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include tablet {
    }

    @include desktop {
      max-width: 696px;

      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.btn--hero {
  margin-right: auto;
  margin-left: auto;

  line-height: 1.88;

  @include tablet {
  }

  @include desktop {
  }
}
