/* ======================== НАШИ КЛИЕНТЫ ====================== */
.client {
  padding-top: 60px;

  @include desktop {
    padding-top: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    
    width: calc((100% - 30px) / 2);

    @include tablet {
      width: calc((100% - 60px) / 3);
    }
    @include desktop {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;

    color: var(--icon-company-fill);

    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-function);

    &:hover,
    &:focus {
      color: var(--text-colot-accent);
      border: 1px solid var(--btn-color-social-focus);
      cursor: pointer;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
